.Active_Ergasia {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  margin-bottom: 5px;
  margin: 0px 1px;
  padding: 0px 9px;
  background-color: rgb(14, 133, 3);
  border-radius: 4px;
  border: 1px solid rgb(218, 218, 26);
}

li {
  list-style: none;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: teal;
  margin: 0;
  list-style: none;
}

.Level_One_e {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin-bottom: 5px;
  margin: 5px 10px;
  padding: 3px 9px;
  background-color: rgb(71, 75, 77);
  border-radius: 4px;
  border: 1px solid rgb(218, 218, 26);
}

.h2_katigories {
  padding-right: 5px;
}
/* .Master {
  display: flex;
  padding: 0;
  justify-content: center;
} */

.categ_ergasias {
  padding: 5px 11px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin-top: 3px;
}
