@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.main_logo {
  width: 80px;
  height: 80px;
  padding: 10px;
}

.Navigation_Logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.book {
  color: rgb(59, 65, 59);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  padding-right: 2px;
  padding-left: 2px;
  padding-top: 7px;
}

h1 {
  font-size: 21px;
  padding: 5px 9px;
  /* margin-right: 19px; */
  color: aliceblue;
  background-color: rgb(68, 73, 75);
  border: 1px solid rgb(200, 200, 8);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
}
h2 {
  color: white;
}

.Nea_Aggelia_Wrap {
  display: flex;
  padding: 1px;
  background-color: rgb(238, 217, 26);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
